---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<style>
  .clustrmap-container {
      width: 200px;               /* 设置宽度 */
      height: 200px;              /* 设置高度 */
      overflow: hidden;           /* 隐藏溢出部分 */
      margin: 0 auto;             /* 水平居中 */
  }
</style>

<div>
  <div class="clustrmap-container">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=OTLU45WINGp27zsm9xs1_7l4fD3yetNX1i5SX6LXyqU"></script>
  </div>
</div>